{% extends "layout.html" %}
{% block content %}   
    <div class="container my-bg">
      <div class="row">
        <div class="col col-md-3 col-sm-6 content-center">
            <legend class="mb-4 mt-5 subtitle">SmartResponse</legend>
            <div>
                <fieldset class="form-group sidbar-subtitle">
                    Question
                </fieldset>
                <legend class="mb-4 sidebar-description">

                    <p>*simply put the main documentation page link your company has and we will take case of the rest.
                    </p>
                    e.g. 
                    <p>
                        https://www.twillo.com/docs
                    </p>
                    <p>
                        https://stripe.com/docs
                    </p>
                </legend>
            </div>
            <div class="sidebar-action">
                <a class="btn mt-4 pl-4 pr-4 full" href="{% url 'home:answer' %}" >Get Answer</a>
                <a class="btn bg-purple mt-4 pl-4 pr-4 full" href="{% url 'home:setting' %}" >Setting</a>
            </div>
        </div>
        <div class="col col-9">
            <div class="home-content-setting">
                {% if model_id %}
                <div class="alert alert-success">
                    {{ model_id }}
                </div>
                {% endif %}
                {% if is_loading %}
                    <div class="progress" style="height:30px">
                        <div id="progress" class="progress-bar progress-bar-striped progress-bar-animated bg-purple" style="width:30%;height:30px">30%</div>
                    </div>
                {% else %}
                    <div class="progress" style="height:0px">
                        <div id="progress" class="progress-bar progress-bar-striped progress-bar-animated bg-purple" style="width:100%;height:30px">40%</div>
                    </div>
                {% endif %}
                
                <!-- <form id="setting-form" method="POST" action="{% url 'home:setting' %}">
                    {% csrf_token %} -->
                    <fieldset class="form-group">
                        <div class="form-group">
                            <label class="content-label" for="password">Documentation URL</label>
                            {% if is_loading %}
                                <input type="text" class="form-control" id="doc_url" name="doc_url" disabled required value={{ loading_doc }} />
                            {% else %}
                                <input type="text" class="form-control" id="doc_url" name="doc_url" required value={{ loading_doc }} />
                            {% endif %}
                            <input type="hidden" id="user" name="user" value={{ user }} />
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {% if is_loading %}
                        <input type="button" class="btn bg-yellow mt-4 pl-4 pr-4 item-right" id="updatebtn" value="Update" onclick="Loading()" disabled />
                        {% else %}
                        <input type="button" class="btn bg-yellow mt-4 pl-4 pr-4 item-right" id="updatebtn" value="Update" onclick="Loading()" />
                        {% endif %}
                    </div>
                <!-- </form> -->
            </div>
        </div>
      </div>
        
    </div> 

{% endblock content %}

{% block scripts %}
    <script>
        function Loading() {
            var btn = document.getElementById('updatebtn')
            var doc = document.getElementById('doc_url')
            btn.disabled= true
            doc.disabled= true
            $('.progress').height('30px');
            testpublish()
        }
        $(document).ready(function(){
            width = localStorage.getItem('progress') ? localStorage.getItem('progress') : 1
            $('.progress-bar').width(width+'%');
        });

    </script>
    <script>
        var count = 0;
        var timer_id="_^_"
        function testpublish() {
            timer_id=setInterval(function(){publish();},1000);
        }
        function publish() {
            if (client.connected == true){
                payload = {
                    doc_url: $("#doc_url").val(),
                    user: $("#user").val()
                }
                var mid = client.publish('django/request/setting',JSON.stringify(payload));
                console.log('mid', mid)
            }
            if (++count>0) {
                console.log(timer_id)
                clearTimeout(timer_id); //stop timer
                count=0
            }
        }
    </script>
{% endblock scripts %}
